{% extends "layout.html" %}
{% block title %}
<title>About</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock css %}

{% block body %}
<style>
    .body{
        background-image: url("{{ url_for('static', filename='assets/pxfuel.jpg') }}");
      }
</style>
<nav>
    <ul class="sidebar">
      <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="{{ url_for('home')     }}">Home     </a></li>
      <li><a href="{{ url_for('contact')  }}">Contact  </a></li>
      <li><a href="{{ url_for('shop')     }}">Shop     </a></li>
      <li><a href="{{ url_for('blog')     }}">Blog     </a></li>
      <li><a href="{{ url_for('faq')      }}">FAQ      </a></li>
      <li><a href="{{ url_for('login')    }}">Login    </a></li>
      <li><a href="{{ url_for('register') }}">Register </a></li>
    </ul>
    <ul>
      <li><a href="{{ url_for('home')     }}">Bitcoin Learn</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('home')     }}">Home        </a></li>
      <li class="hideOnMobile"><a href="{{ url_for('contact')  }}">Contact     </a></li>
      <li class="hideOnMobile"><a href="{{ url_for('shop')     }}">Shop        </a></li> 
      <li class="hideOnMobile"><a href="{{ url_for('blog')     }}">Blog        </a></li>
      <li class="hideOnMobile"><a href="{{ url_for('faq')      }}">FAQ         </a></li>
      <li class= "menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
  </nav>


  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display='flex'
    }
    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display='none'
    }
  </script>
{% endblock %}