{% extends "layout.html" %}
{% block title %}
<title>dashboard</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock css %}

{% block script %}

{% endblock script %}

{% block body %}
<div>
    <audio autoplay loop id="background-audio" src="{{ url_for('static', filename='assets/audio/login.mp3') }}"
      preload="none"></audio>
</div>
<body class="logged-in env-production page-responsive mine page-profile intent-mouse" style="overflow-wrap: break-word; padding-right: 0px; overflow: initial;">
  <div>
    <div>
      <a href="" class="">Skip to ontent</a>
      <span></span>
      <script crossorigin="anonymous" defer="defer" type="application/JavaScript" src="https://github.githubassests.com/assets/sfsg.jd"></script>
      <script></script>
      <script></script>
      <script></script>
      <script></script>
      <script></script>
      <script></script>
      <script></script>
      <react-partial></react-partial>
      <script></script>
      <script></script>
      <script></script>
      <script></script>
      <header class="Appheader">
        <div class="Appheader-globalBar pb-2">
          <div class="Appheader-globalBar-start">
            <deferred-side-panel data-url="">
              <button>
              </button>
              <div></div>
            </deferred-side-panel>
            <a class="Appheader-logo ml-2"></a>
            <div></div>
          </div>
          <div></div>
        </div>
        <div></div>
      </header>
      <div></div>
    </div>
    <div>

    </div>
    <details>

    </details>
    <div></div>
    <div></div>
    <footer></footer>
    <div></div>
    <template></template>
    <div></div>
    <template></template>
    <template></template>
    <style></style>
  </div>
</body>
{% endblock body %}