*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  
  .container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
  }
  span{
    color: #ff9500;
    font-size: small;
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding: 10px 0 10px 0;
  }
  
  header{
    color: #ff9500;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
  }

  .input-field{
    display: flex;
    flex-direction: column;
  }  
  .input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #ff9500;
    padding: 0 0 0 45px;
    background: rgb(255, 245, 216);
  }
  
  .submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
  }
  
  .submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
  }
.lgin{
  font-size: 25px;
  color: rgb(77, 91, 124);
}   

.lgin p{
  color: #ff9500;
}

.ljvxhF {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}

.kZzEcW {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}

.kZzEcW svg {
  height: 32px;
  object-fit: contain;
  width: 32px;
}
.eROhll {
  margin-bottom: 0px;
  color: rgb(77, 91, 124);
  font-family: Inter, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  font-weight: 400;
}
a {
  color: inherit;
  text-decoration: none;
}
.cXhaHm {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  list-style: none;
  margin: 0px;
  max-width: 12rem;
  padding: 0px;
}

.biGnrt {
  color: rgb(77, 91, 124);
  transition: color 350ms ease 0s;
}